@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.marquee {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    font-weight: 600;
}